body {
  font-family: Helvetica, Arial, sans-serif;
}
@media screen and (max-width: 640px){
.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /*flex-wrap: wrap;*/
 /* max-width: 1140px;*/
  background-color: #efefef;
}

.box {
  height: 200px;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  margin: 10px;
  flex: 1 1 auto;
}
.box1{
background-color: pink;
}
.box2{
background-color: red;
}
.box3{
display: none;
}
.box4{
display: none;
}
}
@media screen and (min-width: 641px){
.container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1140px;
  background-color: #efefef;
}

.box {
  height: 200px;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  margin: 10px;
  flex: 1 1 auto;
}
.box1{
background-color: blue;
}
.box2{
background-color: purple;
}
.box3{
background-color: grey;
display: block;
}
.box4{
background-color: brown;
display: block;
}
}